.container {
  padding: 80px 0;
    width: 350px;
  max-width: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
    padding: 80px 0;
  width: 100%;
  max-width: none;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.unread {
  background-color: #ffe6e6;
}

.readButton {
  padding: 6px 12px;
  border: none;
  background: #4caf50;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

.readButton:hover {
  background: #45a049;
}

