.about {
  margin: 0 auto;
  padding: 80px 0;
  width: 100%;
  max-width: none;
  text-align: center;
  background-color: #ffffff;
  box-sizing: border-box;
  
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.subtitle {
  line-height: 1.6;
}

@media (max-width: 600px) {
  .title {
    font-size: 1.5rem;
  }
  .text {
    font-size: 0.95rem;
  }
}